/* @import "tailwindcss"; */

:root {
    --background-page: #0F172A	;
    --background-bars: #1E293B;
    --color-text: #ffffff;    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-page);
}

.container {
    padding: 30px;
    color: var(--color-text);
}

button {
    cursor: pointer;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4682b4;
}