/* @import "tailwindcss"; */

:root {
    --background-page: #0F172A	;
    --background-bars: #1E293B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-page);

}